body {
    background: #374d59;
}

form {
    width: 100%;
    background: #374d59;
    display: flex;
    flex-direction: column;

}

textarea {
    background: #ABCEE0;
    min-height: 120px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    resize: none;
    flex: 1;
    min-height: 200px;
    font-size: 16px;
    align-items: flex-start;
    align-content: flex-start;
    justify-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

form input {
    background: #496574;
    padding: 8px 2px;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    width: 100%;
    color: #fff;
}

form input,
form textarea {
    margin-bottom: 20px;
    min-height: 25px;
}

/*** Typography ***********/

form input#name {
    display: flex;
    font-weight: 500;
    font-size: 50px;
    color: #FFFFFF;
}

form input#company {
    padding-left: 8px;
    padding-bottom: 8px;
    color: #CACCCE;
}

form input#mutuals {
    justify-self: center;
    align-self: center;
    display: flex;
    padding: 8px 0;
    height: 20px;
    width: 226px;
}